@model IList<Pisi.Payslip.Contract.PayslipPeriod>
@{
    ViewBag.Title = "PAYSLIP";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
@section styles {
    <link rel="Stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <style> 
    body {
        padding-top: 0; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    </style>
    <link rel="Stylesheet" href="@Url.Content("~/Content/bootstrap-responsive.min.css")">
    <!--<link rel="Stylesheet" href="@Url.Content("~/Content/pisi.css")">-->
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3 payslip-period-box">
            <div class="well" style="max-width: 340px; padding: 8px 0;">
                <ul class="nav nav-list">
                    <li class="nav-header">To preview payslip select period</li>
                    @foreach (Pisi.Payslip.Contract.PayslipPeriod payPrd in Model)
                    {
                        <li class="payslip-period-item" id="@payPrd.Code"><a href="#" id="@payPrd.Code">@payPrd.Name</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="span9">
            <div class="well payslip-view" id="payslip-view"/>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/underscore.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/backbone.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/payslip.js")"></script>
}