@model IList<Pisi.MasterData.Contract.PayrollPeriod>
@{
    ViewBag.Title = "PAYSLIP";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
@section styles {
    <link rel="Stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <style> 
    body {
        padding-top: 0; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    ul.payslip-period-list 
    {
        list-style-type: none;
    }
    div.span3.payslip-period-box
    {
        border-right: 1px solid black;
    }
    </style>
    <link rel="Stylesheet" href="@Url.Content("~/Content/bootstrap-responsive.min.css")">
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3 payslip-period-box">
            <p>
                <label>To preview payslip select period</label>
                <ul class="payslip-period-list">
                @foreach (Pisi.MasterData.Contract.PayrollPeriod payPrd in Model)
                {
                    <li><a href="#" id="@payPrd.Code" class="payslip-period-item">@payPrd.Name</a></li>
                }
                </ul>
            </p>
        </div>
        <div class="span9 payslip-view">
            
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/underscore.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/backbone.min.js")"></script>
    <script type="text/javascript">
    function showPayslip(e){
        $("div.span9.payslip-view").empty();
        $("div.span9.payslip-view").append("<h3>Your payslip period " + $(e.target).text() + "</h3>");
    }

    $(function(){
        $('a.payslip-period-item').click(showPayslip);
    });
    </script>
}